*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
}

body{
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

input[type=text]{
  background-color: #e2e8f0;
  border: 0px;
  border-radius: 20px;
  padding: 7px;
}

img, input[type=image]{
  width: 25px;
}

button{
  background-color: #1992d4;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}

nav{
  background-color: #1992d4;
  color: white;
  grid-row: 1 / span 2;
  display: grid;
  row-gap: 25px;
  column-gap: 20px;
  font-weight: bold;
  padding: 15px 80px 0px 20px;
  grid-template-columns: 40px auto;
  align-content: start;
  align-items: center;
}

 nav h1{
  font-size: 30px;
  color: white;
}

nav a, nav a:visited{
  font-size: 18px;
  color: white;
}

nav img{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

nav a:first-child img{
  width: 50px;
}

nav a:nth-last-child(2n){
  justify-self: center;
}

nav p:empty{
  padding: 4px;
}

/*Header*/
header{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 10px 60px 10px 40px;
  font-weight: bold;
  gap: 30px;
}

header div:first-child{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

header div:nth-child(2){
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 25px;
  align-items: center;
  justify-content: end;
}

header div:nth-child(3){
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto 1fr;
  align-content: center;
}


header div:nth-child(4){
  display: grid;
  column-gap: 25px;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

header h2{
  font-size: 18px;
  padding-right: 15px;
}

header p{
  font-size: 18px;
  align-self: end;
}

.small-icon{
  width: 50px;
}

.big-icon{
  grid-row: 1 / span 2;
  width: 80px;
}


/*main*/
main{
  background-color: #e3e8f0;
}
